<div class  = "row">
  <div class = "col-md-3">
  </div>		
  <div class = "col-md-6">	
    <h3>Listing Images</h3>
    <table class = "table table-hover table-bordered">
      <thead>
  	    <tr>
  	      <th>
  	  	    Id
  	      </th>
  	      <th>
  	  	    Size
  	      </th>
  	      <th>
  	  	    Image
  	      </th>
  	      <th>
  	  	    Link
  	      </th>
  	    </tr>	
      </thead>		
      <tbody>
        <% @images.each do |image| %>
          <tr>
            <td><%= image.id %></td>
            <td><%= image.avatar_file_size %></td>
            <td><%= image_tag image.avatar.url(:thumb) %></td>
            <td><%= link_to "View", "/images/#{image.id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>



