<div class = "row">
  <div class = "col-md-3"></div>	
  <div class = "col-md-3 margin">
    <%= form_for @image, :url => '/images', :html => { :multipart => true } do |form| %>
      <div class = "form-group">     
        <%= form.file_field :avatar %>
      </div>  
      <%= submit_tag "upload this image" %>
    <% end %>
    <%= flash[:notice] %> 
   </div> 
</div>  

