<div class = "row margin">
  <div class = "col-md-1"></div>	
  <div class = "col-md-3"><button type="button" class="btn btn-primary" onclick="init()">Show saved annotations</button></div>	
  <div class = "col-md-8 image-border">	
    <%= image_tag @image.avatar.url(:medium) , id: "ImagePan" , class: "annotatable" , width: 600 , height: 500 %>
  </div>  
</div> 
<%= hidden_field_tag 'image_id' , "#{@image.id}" %>
  
