<!DOCTYPE html>
<html>
<head>
  <title>AnnotationsDemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class = "col-md-2"></div>	
  <div class = "col-md-8">	
    <ul class="nav nav-tabs">
      <li><%= link_to 'Annotation Demo', '/' %></li>
      <li><%= link_to 'Add a image', '/images/new' %> </li>  
      <li><%= link_to 'view images' , '/images' %></li>
    </ul>
  </div>  
</div>
<%= yield %>

</body>
</html>
